* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
    font-family: Montserrat;
}

.header {
    background-image: url(../images/header/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 1012px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-menu {
    height: 120px;
    background: rgba(94, 93, 88, 0.60);
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 21px;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
}

.nav-menu-list {
    height: 118px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-menu-list:hover {
    color: #18CFAB;
}

.nav-menu-list:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #18CFAB;

}

/* ---------------------------------MAIN BOX------------------------------- */

.main-box {
    height: 892px;
    margin-top: 250px;
}

.titles {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    gap: 22px;


}

.little-title {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.little-title .white {
    color: #fff;
}

.little-title .green {
    color: #18CFAB;
}

.main-title {
    color: #FFF;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
}

.second-title {
    color: #D4D4D4;
    font-size: 34px;
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 128px;
}

.button {
    width: 169px;
    height: 64px;
    border-radius: 4px;
    background-color: #FFF;
}

.explore {
    margin-top: 5px;
    width: 169px;
    height: 60px;
    background-color: #18CFAB;
    border-radius: 4px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.purchase {
    margin-top: 5px;
    width: 169px;
    height: 60px;
    background-color: #00CBF6;
    border-radius: 4px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ---------------------------Section 1------------------------------ */

.boxes {
    height: 378px;
    width: 100%;
    display: flex;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.box {
    min-width: 25%;
    text-align: center;
}

.theme,
.support {
    background-color: #1C2A33;
    padding-top: 97px;
    color: #18CFAB;
}

.customize,
.responsive {
    background-color: #18CFAB;
    padding-top: 108px;
    color: #FFF;
}

.hand,
.lamp {
    margin-bottom: 48px;
}

.diamond,
.devices {
    margin-bottom: 59px;
}

/* -----------------------------Services------------------------------- */

.services {
    margin-top: 85px;
}

.service-title {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.service-tabs {
    margin-top: 64px;
    display: flex;
    color: #777777;
}

.service-tabs-title {
    width: 192px;
    height: 76px;
    background-color: #F8FCFE;
    border-top: 1px solid #EDEFEF;
    border-bottom: 1px solid #EDEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    cursor: pointer;
}

.service-tabs-title:hover {
    border: 1px solid #18CFAB;
}

.service-background {
    background-color: #18cfab;
    color: #ffffff;
}

.service-tabs-content {
    margin-top: 24px;
}

.tabs-content {
    display: none;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.tabs-image {
    margin-right: 15px;
}

.active-now {
    display: flex;
}

/* -----------------------------Everyrhing is ready------------------------------- */

.evrth-ready {
    height: 473px;
    margin-top: 90px;
    background-image: url(../images/everything/evth_is_ready.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.evrth-ready-title {
    padding-top: 124px;
    color: #18CFAB;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.evrth-ready-text {
    margin-top: 12px;
    color: #D8D8D8;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.evrth-ready-btn {
    width: 169px;
    height: 64px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 64px;
    background-color: #FFF;
}

/* --------------------------------------Amazing work--------------------------------------- */

.work {
    background-color: #E9EDEF;
    padding-bottom: 100px;
}

.work-title {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-top: 96px;
}

.work-tabs {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.work-tabs-title {
    height: 58px;
    background-color: #E9EDEF;
    border: 1px solid #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.work-all {
    width: 75px;
}

.work-graphic {
    width: 142px;
}

.work-web {
    width: 117px;
}

.work-landing {
    width: 137px;
}

.work-wordpress {
    width: 106px;
}

.work-tabs-title:hover {
    border: 1px solid #18CFAB;
}

.work-background {
    background-color: #E9EDEF;
    color: #18cfab;
    border: 1px solid #18CFAB;
}

.work-photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
}

.load-button {
    margin: 0 auto;
    margin-top: 70px;
    width: 168px;
    height: 64px;
    background-color: #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
}

.work-photo-hover:hover {
    opacity: 0;
}

.photo-hover {
    width: 290px;
    height: 210px;
    position: relative;
}

.work-photo-hover {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
}

.work-content-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 290px;
    height: 210px;
    border-top: 3px solid #18cfab;
    position: absolute;
    top: 0;
}

.photo-text-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.photo-name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
}

.photo-category {
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
}

/* ------------------------------------News--------------------------------- */

.news-title {
    margin-top: 80px;
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.news-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 36px;
}

.news-box {
    position: relative;
}

.news-box-date {
    width: 70px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-box-date-text {
    text-align: center;
    line-height: 25px;
}

.news-box:hover .news-box-date {
    background-color: #18CFAB;
}

.news-box:hover .news-box-title {
    color: #18CFAB;
}

.news-box-title {
    margin-top: 16px;
    margin-left: 16px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
}

.news-box-text {
    margin-top: 12px;
    margin-left: 16px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    width: 210px;
}

.news-box-author {
    position: relative;
}

.news-box-author::after {
    position: absolute;
    content: "|";
    margin-left: 16px;
}

.news-box-comments {
    margin-left: 33px;
}

/* -----------------------------People say------------------------------- */

.people-say {
    background-image: url(../images/what-people-say/background.png);
    margin-top: 130px;
    height: 852px;
}

.people-title {
    padding-top: 98px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.people-say-box {
    margin-top: 64px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.people-say-comment {
    text-align: center;
    color: #BBB;
    font-size: 16px;
    font-weight: 300;
    height: 45px;
}

.people-say-man {
    text-align: center;
}

.people-say-man-name {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.people-say-man-job {
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
}

.people-say-man-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.people-say-man-avatar-bck {
    width: 166px;
    height: 166px;
    border-radius: 83px;
    background-color: #1FDAB5;
    opacity: 0.2;
    position: relative;
}

.people-say-man-avatar-photo {
    position: absolute;
    width: 142px;
    height: 142px;
}

.people-say-switcher {
    margin-top: 50px;
    height: 70px;
    width: 483px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.switcher-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switcher-photo-bck {
    width: 70px;
    height: 70px;
    border-radius: 83px;
    background-color: #1FDAB5;
    opacity: 0.2;
    position: relative;
}

.switcher-photo {
    position: absolute;
    width: 60px;
    height: 60px;
}

.switcher-photo:hover {
    cursor: pointer;
}

.right-arrow {
    transform: rotate(180deg);
}

.right-arrow:hover,
.left-arrow:hover {
    background-color: #18CFAB;
    fill: #fff;
}

.people-say-comment,
.people-say-man-name,
.people-say-man-job,
.people-say-man-avatar-photo {
    transition: opacity 0.5s ease;
}

.switcher-avatar.active  {
    margin-top: -20px;
}

/* --------------------------Footer---------------------------- */

.footer {
    height: 121px;
    background-color: #22353F;
    display: flex;
    justify-content: center;  
    align-items: center;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
}
  
